.page-list-room {
  ion-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .corner {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }

  .corner button {
    width: 35px;    
  }
}
